.menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0px 5px 0px 5px;
    box-shadow: 0 5px 15px 0 #00000026;
    background: #1d232c;
    padding: 10px;
    align-items: center;
}

.menu_title{
    text-decoration: none !important;
    border: none;
    color: #dcdcdc;
    background: #161b21;
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
    margin: 10px auto 20px auto;
    text-align: center;
}
  
.home_button{
    text-decoration: none;
}

.menu_button {
    text-align: center;
    width: 80%;
    margin: 30px 10px;
    color: #9fa0a1;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
  
.menu_button:hover{
    color: rgba(99, 49, 139, 0.4)
}
  
.menu_button:hover::after{
    width: 100%;
}

.menu_button:hover::before{
    width: 100%;
}