.body{
    margin: -10px -8px; 
    width: 100%;
    height: 102vh; 
    position: fixed;
    overflow: hidden;
    background: #161b21;
    display: flex;
    flex-direction: row;
}

.page{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.page_content{
    width: 100%;
    vertical-align: center;
}

.main{
    width: 100%;
    text-align: center;
}

.page_title{
    color: #dcdcdc;
    font-size: 38px;
    font-weight: 700;
    margin: -10px auto 0px auto;
    background: #1d232c;
    padding: 5px 0px;
    width: 100%;
}

.container{
    width: 94%;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}